.settings-content {
    width: 70%;
    float: left;
}

.faq-section {
    width: 28%;
    float: right;
    background: #f1f1f1;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.faq-section h2 {
    margin-top: 0;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.faq-item p {
    margin: 0;
    font-size: 0.9em;
}

.params-to-show-wrap {
    max-width: 312px;
}

#sortable-parameters {
    list-style-type: none;
    padding: 0;
}

#sortable-parameters li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 6px;
    cursor: move; /* Cursor indicates that the item is movable */
}

#sortable-parameters li label {
    display: block; /* Makes the label take the full width of the li */
}

.button-secondary {
    margin-right: 5px;
}
.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}
