.form-select, .form-check, .form-check input, .form-control {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #ced4da !important;
}

.form-check {
    padding-left: 50px !important;
}

.form-check input[readonly], .form-control[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
}

#ai-engine-extension-form-wrapper {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 10px;
}

#ai-engine-extension-form {
    z-index: 1000;
}

.chatbot-info {
    font-size: medium;
}

/* Admin */
.allowed-roles-select {
    width: 100%;
    height: auto;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.allowed-roles-select option {
    padding: 8px 10px;
}